.logo {
    font-size: 200px;
    color: whitesmoke;
}

.logo-small {
    color: whitesmoke;
    font-size: 50px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

.bg-grey {
    background-color: darkred;
}


.container-fluid {
    padding: 1% 50px;
}

.thumbnail {
    padding: 10px 10px 20px 10px;
    border: none;
    border-radius: 0;
}


.navbar {
    margin-bottom: 0;
    background-color: white;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: darkred !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: white !important;
    background-color: darkred !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: darkred !important;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #000000;
}

footer{
    background-color: white;
    color: darkred;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: white;
}

.jumbotron {
    font-family: Montserrat, sans-serif;
}

.navbar {
    font-family: Montserrat, sans-serif;
}

h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}

h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.slideanim {visibility:hidden;}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
a{
    font-size: larger;
}

.content{
    margin-top: 5%;
    padding: 5%;
    background-color: indianred;
    color:white;
}

td .img{
    display: block;
}